.prev {
    left: -30px;
  }
  
  .next {
    right: -30px;
  }
  .slider {
    position: relative;
  }
  
  .prev,
  .next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 30px;
    height: 30px;
    cursor: pointer;
    z-index: 1;
    background-color: black;
    border-radius: 50%;
    color: white;
    font-weight: bolder;
    padding: 5px;
    font-size: 1.5rem;
  }
  
  .prev {
    left: 20px;
  }
  
  .next {
    right: 20px;
  }
  

  .item-link {
    position: relative;
    display: inline-block;
  }
  
  .item-link .item-info {
    display: none;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    padding: 5px;
    text-align: center;
  }
  
  .item-link:hover .item-info {
    display: block;
  }
  
  .productSliderImage{
    width: 600px;
    height: auto;
  }

  @media screen and (max-width: 1200px) {
    .productSliderImage{
      width: 80%;
      height: auto;
    }
  }