.navbar{
    background-color: f7f6f2;
    border-bottom: 1px solid rgb(200, 200, 200);
}
.nav{
    min-width: 100%;
}
.slide {
    position: relative;
    overflow: hidden;
  }
  
  .text {
    position: relative;
    transition: 0.5s;
    color: rgb(130, 130, 130);
  }
  
  .slide::before {
    content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 130%;
  height: 55px;
  background-color: #007bff;
  transform: translate(-110%, 0) skew(-30deg);
  transition: 0.5s;
  }
  
  .slide:hover .text {
    color: #fff;
  }
  
  .slide:hover::before {
    transform: translate(-5%, 0) skew(-15deg);
  }